
/*Обнуление и общие свойства*/
  /*Переопределение свойств box-sizing для всех родительских и дочерних элементов на странице*/
*, *::before, *::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

.content_box{
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;  /*Нужно, чтобы прижать футер к нижней части страницы*/
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3px;
  width: 1173px;
  max-width: 100%;
}

  /*Конец переопределения*/


html,
body{
  height: 100%;  /*Нужно, чтобы прижать футер к нижней части страницы*/
}

html{
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  overflow-y:scroll;
}

body{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;  /*Нужно, чтобы прижать футер к нижней части страницы*/
  margin: 0;
  padding: 0;
  width: 100vw;
}

.body_mask{
  width: inherit;
  height: 755px;
  background-image: url(../img/slide.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -999;
}

main{
  margin: 0;
  padding: 0;
}

.link{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.link:hover{
  color: #00b1ba;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

/*Конец обнуления*/

/*Параметры шрифтов*/

@font-face{
  font-family: 'Open Sans', sans-serif;
  src:url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
}

.light{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


.caps{
  text-transform: uppercase;
}

/*Конец параметров шрифтов*/

/*Шапка*/

header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 265px;
}

.logo{
margin-top: 18px;
}

.nav_list{
margin: 50px auto auto 0;
padding-left: 0;
}

.nav_list>li{
  display: inline-block;
  list-style-type: none;
}

.nav_list>li>a{
  margin-right: 45px;
}

/*Подвал*/

footer{
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;  /*Нужно, чтобы прижать футер к нижней части страницы*/
  width: 100vw;
  height: 90px;
  background-color: #00b1ba;
}

.foot_content{
  margin-top: 24px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fch1{
  margin: 0;
  font-size: 24px;
}

.fch2{
  margin: 0;
  font-size: 14px;
  opacity: .5;
}

/*Настройки полосы прокрутки*/
::-webkit-scrollbar{                    /*Стиль полосы прокрутки*/
width: 10px;
}

::-webkit-scrollbar-thumb{              /*Стиль иконки полосы прокрутки*/
background-color: #00b1ba60;
}

::-webkit-scrollbar-thumb:hover{        /*Ховер еффект иконки полосы прокрутки*/
background-color: #08838960;
}

::-webkit-scrollbar-track{              /*Стиль полосы прокрутки*/

}

::-webkit-scrollbar-track:hover{        /*Ховер еффект полосы прокрутки*/
background-color: transparent;
}

/*Конец настройки полосы прокрутки*/

@media all and (max-width: 1030px){
  .content_box{

  }
}
